<h1>Details about <%= @vulnerability.cve_id %></h1>
<div class="row">
  <div class="col-8">
    <b><%= I18n.t 'vul.vulnerability.show.summary' %> </b><%= @vulnerability.summary %>
  </div>

  <div class="col-4">
    <b><%= I18n.t 'vul.vulnerability.show.report_date' %></b>
      <%= I18n.l @vulnerability.published_datetime, format: :long %> <br />
    <b><%= I18n.t 'vul.vulnerability.show.update_date' %></b>
      <%= I18n.l @vulnerability.last_modified_datetime, format: :long %> <br />
  </div>
</div>

<br>

<div class="row">
  <% if @vulnerability.cvss_score %>
    <div class="col-6">
      <h2><%= I18n.t 'vul.vulnerability.show.cvss.title' %></h2>

      <div class="row">
        <div class="col-6">
          <b><%= I18n.t 'vul.vulnerability.show.cvss.score' %>: </b><br>
          <b><%= I18n.t 'vul.vulnerability.show.cvss.access-vector' %>: </b><br>
          <b><%= I18n.t 'vul.vulnerability.show.cvss.access-complexity' %>: </b><br>
          <b><%= I18n.t 'vul.vulnerability.show.cvss.authentication' %>: </b><br>
          <b><%= I18n.t 'vul.vulnerability.show.cvss.confidentiality-impact' %>: </b><br>
          <b><%= I18n.t 'vul.vulnerability.show.cvss.integrity-impact' %>: </b><br>
          <b><%= I18n.t 'vul.vulnerability.show.cvss.availability-impact' %>: </b><br>
          <b><%= I18n.t 'vul.vulnerability.show.cvss.generation-date' %>: </b>
        </div>

        <div class="col-6">
          <%= @vulnerability.cvss_score %><br>
          <%= @vulnerability.cvss_access_vector %><br>
          <%= @vulnerability.cvss_access_complexity %><br>
          <%= @vulnerability.cvss_authentication %><br>
          <%= @vulnerability.cvss_confidentiality_impact %><br>
          <%= @vulnerability.cvss_integrity_impact %><br>
          <%= @vulnerability.cvss_availability_impact %><br>
          <%= I18n.l @vulnerability.cvss_generated_on_datetime, format: :long %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="col-6">
    <h2><%= I18n.t 'vul.vulnerability.show.references.title' %></h2>
    <% if @vulnerability.references.any? %>
      <% @vulnerability.references.first(10).each do |ref| %>
          <a target="_blank" href="<%= ref.reference_url %>"><%= link_text(ref.reference_url) %></a><br>
      <% end %>

      <% items_to_hide = @vulnerability.references.to_a - @vulnerability.references.first(10) %>
      <% if items_to_hide.any? %>
        <b><a href="#" id="hidden_links_a"><%= I18n.t 'vul.vulnerability.show.references.link' %> (<%= items_to_hide.count %>)</a></b>
        <div id="hidden_links_div">
          <% items_to_hide.each do |ref| %>
            <a target="_blank" href="<%= ref.reference_url %>"><%= link_text(ref.reference_url) %></a><br>
          <% end %>
        </div>
      <% end %>
     <% else %>
        <%= I18n.t 'vul.vulnerability.show.references.sorry' %>
     <% end %>
  </div>
</div>

<div class="row" style="margin-top: 20px;">
  <div class="col">
    <h2><%= I18n.t 'vul.vulnerability.show.affected.title' %></h2>

    <table id="vulnerable-software-table" style="width:100%;"  class="table">
      <thead>
      <tr>
        <th><%= I18n.t 'vul.vulnerability.show.affected.software' %></th>
        <th><%= I18n.t 'vul.vulnerability.show.affected.version' %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @vulnerability.versions.each do |av| %>
        <tr>
          <th><%= link_to av.software.name, sft_software_path(av.software) %></th>
          <th><%= av.version %></th>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>