<h1> Details about <%= @vendor.name %> </h1>

<div class="grid">
  <div class="grid-item 12/12">
    <h4><%= I18n.t 'sft.vendor.show.software' %></h4>

    <table id="vendor-software">
      <thead>
      <tr>
        <th><%= I18n.t 'sft.vendor.show.table.name' %></th>
        <th><%= I18n.t 'sft.vendor.show.table.issues' %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @vendor.software.each do |sft| %>
      <tr>
        <th><%= sft.name %></th>
        <th><%= Sft::Software.vulnerabilities_for(sft).count %></th>
        <th><%= link_to 'Show', sft_software_path(sft) %></th>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>