<h1>Details about <%= @software.name %></h1>

<div class="grid">
  <div class="grid-item 12/12">
    <h4><%= I18n.t 'sft.software.show.issues' %></h4>

    <table id="software-issues" style="width:100%;">
      <thead>
      <tr>
        <th><%= I18n.t 'sft.software.show.table.cve_id' %></th>
        <th><%= I18n.t 'sft.software.show.table.summary' %></th>
        <th><%= I18n.t 'sft.software.show.table.affected_versions' %></th>
        <th><%= I18n.t 'sft.software.show.table.report_date' %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @vulnerabilities.each do |v| %>
        <tr>
          <th><%= v.cve_id %></th>
          <th><%= truncate(v.summary, length: 250) %></th>
          <th><%= v.versions.count %></th>
          <th><%= I18n.l v.last_modified_datetime %></th>
          <th><%= link_to 'Show', vul_vulnerability_path(v) %></th>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>