<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><%= I18n.t 'nav.brand' %></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= systems_path %>"><%= I18n.t 'nav.items.systems' %></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="<%= vul_vulnerabilities_path %>"><%= I18n.t 'nav.items.vulnerability' %></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= I18n.t 'nav.items.inventory' %>
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="<%= sft_softwares_path %>"><%= I18n.t 'nav.items.software' %></a>
          <a class="dropdown-item" href="<%= sft_vendors_path %>"><%= I18n.t 'nav.items.vendors' %></a>
        </div>
      </li>
    </ul>
  </div>
</nav>